/* Página de detalles de la película */
.movie-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff; /* Color blanco para un contraste adecuado con el fondo oscuro */
    margin-bottom: 20px;
  }
  
  .movie-poster {
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .movie-details {
    margin-top: 20px;
  }
  
  .movie-details p {
    font-size: 1.1rem;
    color: #ddd; /* Gris claro para el texto del contenido */
    margin: 12px 0;
  }
  
  .movie-details strong {
    font-weight: bold;
    color: #fff; /* Color blanco para las etiquetas */
  }
  
  .rating {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .rating img.imdb-logo {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    vertical-align: middle;
  }
  
  .rating span {
    margin-left: 8px;
    font-size: 1.2rem;
    color: #ddd; /* Gris claro para el rating */
  }
  
  /* Recomendación para dar espacio y estilo a los comentarios/reseñas */
  .movie-reviews {
    margin-top: 40px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  